     /*span.element { margin: 2px; padding: 1px; border: solid 1px black;}*/
     /*span.unit { color: #f80; } */
     span.Unit { color: purple; }
     span.ProvideKeyword, span.FName { color: darkgreen;}
     span.RequireKeyword, span.RName  { color: darkred;}
     span.NewResource { color: darkred;}
     span.ValueExpr { color: orange;}
     /*span.Function  { color: darkgreen;}*/
span.ProvideKeyword,
span.RequireKeyword,     
       span.MCDPKeyword,
   	span.SubKeyword,
    span.CompactKeyword,
    span.AbstractKeyword,
    span.TemplateKeyword,
    span.ForKeyword,
    span.UsingKeyword,
    span.RequiredByKeyword,
    span.ProvidedByKeyword,
    span.leq, span.geq, span.OpKeyword, span.eq, span.plus
       { font-weight: bold; }

       span.MCDPKeyword,
   	span.SubKeyword,
    span.CompactKeyword,
    span.AbstractKeyword,
    span.TemplateKeyword,
    span.ForKeyword,
    span.UsingKeyword,
    span.RequiredByKeyword,
    span.ProvidedByKeyword,
    span.leq, span.geq, span.OpKeyword, span.eq, span.plus
    {
       color: #00a;}
     span.FName, span.RName { } /*font-style: italic;}*/
     
     span.comment { color: grey;}