{% extends "base_page.jinja2" %}
{% block title %}
    Credits
{% endblock %}
{% block content %}
{% include 'menu.jinja2' %}
{% include 'user.jinja2' %}
    <h2>About</h2>

    <h2>Funding</h2>

    <h2>Open source</h2>
    <ul>

    </ul>
{% endblock %}
