{% macro add_library_button(repo_name, shelf_name) %}

    <script>
        function click_new_library(event) {
            target = event.target;
            shelf_name = $(target).attr('shelf-name');
            repo_name = $(target).attr('repo-name');

            url_base = "{{root}}/repos/"+repo_name+"/shelves/"+shelf_name + "/libraries/:new/";
            prompt_user("library", url_base, prompt="Create new item");
        }
        $(document).ready(function() {
            $("button#create_library").button().click(click_new_library);
        });
    </script>

        {% if shelf_can_write(repo_name, shelf_name) %}

            <button id="create_library" repo-name="{{repo_name}}" shelf-name="{{shelf_name}}">
                + library
            </button>

        {% endif %}
{% endmacro %}
