<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    {% include 'head.jinja2' %}
</head>
<body>
    {% block content %}{% endblock %}
{% include 'footer.jinja2' %}
</body>
</html>
