{% extends "base_page.jinja2" %}
{% block title %}
    Recent changes
{% endblock %}
{% block head_extra %}
    <style>{% include 'library_index.css' %}</style>
    <script>{% include 'library_index.js' %}</script>
{% endblock %}
{% block content %}

  {% include 'prompt.jinja2' %}
  {%  from 'list_changes.jinja2' import list_changes with context %}
{{list_changes(changes)}}
{% include 'footer.jinja2' %}


{% endblock %}
