{% extends "procedure_steps.jinja2" %}

{% block procedure_title %}
    Accounts bound
{% endblock %}

{% block procedure_content %}

<p> You successfully bound the two accounts. </p>

<p>
    <a class='procedure_button' href="{{next_location}}">Proceed</a>
</p>


{% endblock %}
