<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% include 'head.jinja2' %}
</head>
<body>
<p class="error-message">
    The library {{library_name}} already exists.
    <a href="{{url_edit}}">Edit it.</a>
</p>
</body>
</html>
