<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% include 'head.jinja2' %}
</head>
<body> 
<p class="error-message">The model <span class="model_name">{{model_name}}</span>
already exists. <a href="/edit/{{model_name}}">Edit the existing model.</a>
</body>
</html>