<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sorry</title>
    {% include 'head.jinja2' %}
    
</head>
<body>

<style type='text/css'>
	#exception {
		font-weight: bold;
		
	white-space: pre-wrap;
	}
</style>

<p> The code created an uncaught exception.  </p>

<pre><code id='exception'>{{exception}}</code></pre>
        
</body>
</html>