<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forbidden</title>
    {% include 'head.jinja2' %}
</head>
<body>
<!--{% include 'user.jinja2' %}--> 

<div>
{% include 'login_form.jinja2' %}
</div>

<!--<div class='extra' style='color:white'>
<p>Could not access: <code>{{came_from}}</code></p>
<p>{{request_exception_message}}</p>
<p>{{request_exception_result}}</p>
</div>
-->
</body>
</html>