<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forbidden</title>
    {% include 'head.jinja2' %}
</head>
<body>
<!--{% include 'user.jinja2' %}-->



{% if user_struct %}
    <p>{{user_struct.info.name}} does not have enough privileges to see this resource.</p>
    <p><a href="{{root}}/logout/">Try to log out</a> and log in as a different user.</p>

{% else %}
    <div>
    {% include 'login_form.jinja2' %}
    </div>
{% endif %}

<!--<div class='extra' style='color:white'>
<p>Could not access: <code>{{came_from}}</code></p>
<p>{{request_exception_message}}</p>
<p>{{request_exception_result}}</p>
</div>
-->
<div style='display:none'>
<pre>{{context_detail}}</pre>
<pre>{{user_struct}}</pre>
</div>
</body>
</html>
