<!-- JQuery, locally served -->
<script type = "text/javascript" src = "/static/jquery.min.js"></script>
<script type = "text/javascript" src = "/static/jquery.imageZoom.js"></script>

<!-- My library of Javascript code. -->
<script type = "text/javascript" src = "/static/javascript/ajax1.js"></script>
<script type = "text/javascript" src = "/static/javascript/oninputchange.js"></script>
<script type = "text/javascript" src = "/static/javascript/editor.js"></script>
<script type = "text/javascript" src = "/static/javascript/sha1.js"></script>

<link rel="stylesheet" type="text/css"  href="/static/css/mcdp_language_highlight.css"/>

