<!DOCTYPE html>
<html lang="en">
<head>
    <title>MCDP-web</title>
    {% include 'head.jinja2' %}
</head>
<body>

<h1>MCDP Interactive Environment</h1>

<h2>Learn</h2>

<p><a href="/language">The MCDP language specification</a></p>


<h2>Do</h2>

<p><a href='/list'>The list of MCDP models defined in this library.</a>

<h2>Help</h2>

<p>Please file bug reports at ... </p> 

</body>
</html>