body {
    /*font-family: Georgia;*/
}

#table1 td {
    vertical-align: top;

}
/* logo */

#diagram {
    width: 10em;
    margin: 2em;
}

body {
    padding-left: 6em;
}

h3 {
    margin: 10px;
}

#buttons {
    visibility: hidden;
}

#buttons button {
    /*font-size: 80%;*/
    padding: 10px;
    margin-left: 2em;
    margin-bottom: 4em;
}


/* button */

#buttons .ui-button {
    padding: 3px !important;
}

img.icon {
    vertical-align: -0.4ex;
    height: 2.5ex;
    margin-right: 4pt
}

.library_list {
    /*column-count: 3;*/
    column-width: 14em;
}

.library_list .sup {
    display: block;
    /*padding-left: 2em; */
    font-style: italic;
}

.library_list .library span {
    padding-left: 1em;
}
