<!DOCTYPE html>
<html lang="en">
<head>
    <title>MCDP-web</title>
</head>
<body>
<script type="text/javascript">
  function resizeIframe(obj){
     obj.style.height = 0;
     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

<table>
<tr>
<td width="20%" valign="top">
<iframe frameborder=0 width="100%"  onload='resizeIframe(this)' src="/list"></iframe>
</td>
<td width="80%" valign="top">
<iframe frameborder=0  width="100%" onload='resizeIframe(this)' id="right" src="/empty"></iframe>
</td>
</tr>
</table>


</body>
</html>