{% extends "desc_page.jinja2" %}
{% set can_write = shelf_can_write(navigation.repo_name, navigation.shelf_name) %}

{% block title %}
    Library {{navigation.library_name}}
{% endblock %}

{% block head_extra %}
    <style>{% include 'library_index.css' %}</style>
    <script>{% include 'library_index.js' %}</script>
{% endblock %}

{% block desc_page_title %}
    {{links.library(navigation.repo_name, navigation.shelf_name, navigation.library_name)}}
{% endblock %}

{% block desc_page_desc %}
    <p>This is the content of the library <code>{{navigation.library_name}}</code>.</p>

    {% if not can_write %}
        <p> This library is read-only for you. </p>
    {% else %}
    <p> You can modify this library. </p>
    {%endif%}

{% endblock %}


{% block desc_page_content %}

    {% set shelf_url_ = shelf_url(navigation.repo_name, navigation.shelf_name) %}

    {% include 'refresh_shortcut.jinja2' %}

    <div id='allcontents' >
        <div id='outside'>

        <table align='center' id='library-contents'>
        <tbody>

            	{% for what in ["models","templates","posets","values","documents"] %}
                <tr class='what-row'>
                       <td class='what'>{{what}}</td>
            	<!-- only put the documents if they exist -->
                    <td class='contents'>
                    	{% if not navigation[what] %}
                    	   <p class='none-available'>None available.</p>

                    	{% endif %}
                        <div class='things'>
                    	{% for d in navigation[what] %}
                    		<p class='entry'>
                    		{% if 'url_edit' in d and can_write %}
                                <a class='url_edit' href="{{d['url_edit']}}">✎</a>
                                <a class='url_edit' href="{{d['url_delete']}}">♻</a>
                              {% endif %}
                                <code><a class="url" href="{{d['url']}}">{{icon_spec(what)|safe}}&nbsp;{{d['id']}}</a></code>
                    		</p>
                    	{% endfor %}
                    </div>
                        {% if what != 'documents' and can_write %}
                            <button id="table_new_{{what}}">+</button>
                        {% endif %}

                        {% if what == 'models' and  navigation['models'] %}
                            <p><button id='show_previews'>Show MCDP previews</button></p>
                        {% endif %}

                    </td>

                </tr>
            	{% endfor %}

        </tbody>

        </table>



        </div>



        <div id='previews' style='display: none;'>
        {% for m in navigation['models'] %}

        <a class='modellink' href="{{m['url']}}">
        <div id='{{ m["id"] }}-div' class="compact">
        	<span class="name">
        		<code>{{ m['id'] }}</code>
        	</span>

        	<img id='{{ m["id_ndp"] }}-image' src='{{static}}/white_small.png'/>

        	<script type='text/javascript'>
        		tmp_img="{{library_url(navigation.library_name)}}/models/{{m['id_ndp']}}/views/images/ndp_graph_templatized.png";
        		tmp_target = '#{{ m["id_ndp"] }}-image';
        		all_images.push([tmp_img, tmp_target]);

        	function {{ m["id_ndp"] }}_callback() {
        		src = "{{library_url(navigation.library_name)}}/models/{{m['id_ndp']}}/views/images/ndp_graph_templatized.png";

        		which = '#{{ m["id_ndp"] }}-image';

        		$(which).prop('src', src);
        	}

        	$(document).ready(function() {
        		$( '#{{ m["id_ndp"] }}-div' ).hover({{ m["id_ndp"] }}_callback);
        	});

        	</script>


        </div>
        </a>
        {% endfor %}
        </div>

     </div>


{% endblock %}
