<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of models</title>
        {% include 'head.jinja2' %}
    
</head>
<body>

{% include 'model_views_navigation.jinja2' %}


<!--
{% if models %}
<p> Models: </p>

  <ul>
    {% for m in models %}
    <li><a href="models/{{m}}/views/syntax/" target="_blank">{{m}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No models defined in this library yet.</p>
  {% endif %}

-->

<p>Click &#9776; in the upper left and select "new" to add a new model.</p>

<!-- <p>Add a model: {% include 'new_model.jinja2' %}</p>       
 <p><a href="qr_reader/">QR import</a></p>
 <p><a href="interactive/mcdp_value/">Interactive evaluation</a></p>-->
 
 <!-- {% include 'refresh_library.jinja2' %} -->
  
  
</body>
</html>