<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of libraries</title>
    
    {% include 'head.jinja2' %}
    
</head>
<body>


<p> Libraries: </p>

  <ul>
    {% for l in libraries %}
    <li><a href="/libraries/{{l}}/" target="_blank">Library <tt>{{l}}</tt></a></li>
    {% endfor %}
  </ul>
 
</body>
</html>