<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of models</title>
        {% include 'head.jinja2' %}
    
</head>
<body>


<p> Models: </p>

  <ul>
    {% for m in models %}
    <li><a href="models/{{m}}/views/syntax/" target="_blank">{{m}}</a></li>
    {% endfor %}
  </ul>
       
 <p><a href="qr_reader/">QR import</a></p>
 <p><a href="interactive/mcdp_value/">Interactive evaluation</a></p>
 
  
</body>
</html>