
{%macro list_changes(changes)%}
<ul>
{% for change in changes %}
    <li> {{change.date_human}}:
          {% if change.user.name %}
          {{change.user.name}}
          {% else %}
          Unknown user {{change.user.username}}
          {% endif %}
          {% if change.change_type == 'A' %}
          added
          {% elif change.change_type == 'M' %}
          modified
          {% elif change.change_type == 'D' %}
          deleted
          {% elif change.change_type == 'R' %}
          renamed
          {% else %}
          [{{change.change_type}}]
          {% endif %}

          {% if change.exists %}
            {% set shelf_url = root + '/repos/' + change.repo_name + '/shelves/' + change.shelf_name %}

            <a href="{{change.url}}">
                {{icon_spec(change.spec_name)|safe}}&nbsp;{{change.thing_name}}
            </a>
           in library <a href="{{shelf_url}}/libraries/{{change.library_name}}/">
                      {{icon_library|safe}}&nbsp;{{change.library_name}}</a>
                      in shelf <a href="{{shelf_url}}/">{{icon_shelf|safe}}&nbsp;{{change.shelf_name}}</a>.
          {% else %}
          {{icon_spec(change.spec_name)|safe}}&nbsp;{{change.thing_name}}
          in library
                     {{icon_library|safe}}&nbsp;{{change.library_name}}
          in shelf <a href="{{shelf_url}}/">{{icon_shelf|safe}}&nbsp;{{change.shelf_name}} (unavailable).
          {% endif %}
    </li>
{% endfor %}
</ul>
{% endmacro %}
