{% macro list_libraries_for_shelf(repo_name, shelf_name) %}

    {% set shelf = navigation.repos[repo_name].shelves[shelf_name] %}
    {% set shelf_url_ = shelf_url(repo_name, shelf_name) %}

<style>

ul.libraries_list {
    margin-top: 0em;

    list-style: none;
    padding-left: 1em;

    column-width: 20em;
    min-height: 15em;
}

/*
ul.libraries_list > li > *:first-child:before {
    content: '{{icon_library_css|safe}}';
    margin-right: 0.5em;
}*/
</style>

<ul class='libraries_list'>
    {% set ordered = shelf.libraries | sort %}
    {% for library_name in ordered %}
        <li>{{links.library(repo_name, shelf_name, library_name)}}</li>
    {% endfor %}
</ul>
{% endmacro %}
