{%  from 'add_library_button.jinja2' import add_library_button with context %}
<style>
ul.shelves_list
{
    list-style: none;
    padding: 0;
}
ul.shelves_list > li > *:first-child:before {
    content: '{{icon_shelf_css|safe}}';
    margin-right: 0.5em;
}

</style>
<ul class='shelves_list'>
    {% for sname, shelf in navigation['shelves_used'].items() %}
        <li>

        <a href='{{root}}/shelves/{{sname}}/'><code>{{sname}}</code></a>

            {% if shelf.get_libraries_path() %}
                {{list_libraries_for_shelf(sname, shelf)}}
            {% else %}
            <p>(No libraries)</p>
            {% endif %}

            {% if shelf_can_write(sname) %}
            <p>{{add_library_button(sname)}}</p>
            {%endif%}

        </li>
    {% endfor %}
</ul>
