<style>
#login-error {
color:red; text-align: center;
font-weight: bold;
font-size: smaller;
}
</style>

{% if message is defined%}
	<p>{{message}}</p>
{% endif %}
{% if error %}
	<p id='login-error'>{{error}}</p>

{% endif %}

{% from 'login_button.jinja2' import login_button with context %}

<div id='outer-outer'>

{% if not user_struct   %}

<div id='outer'>

	<p style='margin-top:2em;margin-bottom:0.1em'> If you were given a username and a password: </p>
			<p>{{login_button('password')}}</p>
	<p style='margin-top:2em;margin-bottom:0.1em'> Otherwise, login using one 	of these services. </p>

	{% if 'facebook' in other_logins %}
		<p>{{login_button('facebook')}}</p>
	{% endif %}

	{% if 'github' in other_logins %}
		<p>{{login_button('github')}}</p>
	{% endif %}

	{% if 'google' in other_logins %}
		<p>{{login_button('google')}}</p>
	{% endif %}

	{% if 'linkedin' in other_logins %}
		<p>{{login_button('linkedin')}}</p>
	{% endif %}

	{% if 'amazon' in other_logins %}
		<p>{{login_button('amazon')}}</p>
	{% endif %}
</div>


<p>Privacy policy: We do not read your data; only your basic profile (name and email). </p>

{% else %}
	<p> You are already logged in as <code>{{user_info.username}}</code>. </p>

	<p> You can <a href="{{root}}/logout/">log out</a>. </p>

	<p> You can also go to <a href="{{root}}/users/{{user_info.username}}/">your account page</a> and add more identities. </p>

{% endif %}
</div>

<style>
table#choice td {
	text-align: left;
}
table#choice td:first-child {
	max-width: 20em;
}
#outer-outer {
	text-align: center;
	margin-top: 3em;
}
#outer {
/*border: solid 1px red;*/
	display: inline-block;
	padding:0;
}

</style>

<!-- <pre>came_from = {{came_from}}</pre> -->

<style>

	td#last {
		text-align: center;
		padding-top:10pt;
	}

	p#req {
		margin-top: 5em;
		text-align:center;
		/*margin-top: 40vh;*/
	}
	p#login-error {
		margin-top: 3em;
	}
</style>


{#
<p id='req'><span id="req2">Don't have an account?
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd62UrGvItpQJ2zm9IJMq41zOzx8giEBLMnWZw8UN9Lp4S6yQ/viewform">Request one.</a><br/>
Or, look for a public demo server in the <a href="https://demo.co-design.science/">server list</a>.
</p>
#}

<!--
<div id='iframe' style='display: None'>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd62UrGvItpQJ2zm9IJMq41zOzx8giEBLMnWZw8UN9Lp4S6yQ/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
-->
