<script type="text/javascript">
    url_base = "{{root}}/libraries/{{navigation['current_library']}}/";
    {% include 'menu.js' %}
</script>
<style type='text/css'>{%include 'menu.css' %}</style>

<div id='outer_outer' style=''>
<div id='outer' style='display: none'>
    <ul id="menu" style='visibility: hidden'>
        <li id='root'>&#9776;
            <ul>
                <li><a class='l1' href='{{root}}/'>⌂ Front page</a></li>
                <li><a class='l1' href='{{root}}/shelves/'>🏛 List of shelves</a></li>
                <li><a class='l1' href='{{root}}/libraries/'>📖 List of libraries</a></li>
                {% if navigation['current_library'] and shelf_can_write(navigation.shelf_name) %}
                    <li class="l1" id='menu_new'><span><span class='unicode-icons'>✎</span>Create new&hellip;</span>
                    <ul>
                      <li><a id='new_model'><span class='unicode-icons'>&#10213;</span> MCDP&hellip;</a></li>
                      <li><a id='new_template'><span class='unicode-icons'>&#x2661;</span>template&hellip;</a></li>
                      <li><a id='new_poset'><span class='unicode-icons'>&#x28B6;</span>poset&hellip;</a></li>
                      <li><a id='new_value'><span class='unicode-icons'>&#x2723;</span>value&hellip;</a></li>
                    </ul>
                    </li>
                {% endif %}
                <li>
                <a href="{{root}}/refresh"><span class='unicode-icons'>↻</span>Refresh caches</a>
                </li>
                <li>
                <a href="{{root}}/libraries/{{navigation['current_library']}}/interactive/mcdp_value/">
                	<span class='unicode-icons'>📟</span>Calculator</a>
                </li>
                <li>
                	<a href="{{request.url}}" target="_blank">
                        <span class='unicode-icons'>📓</span>open a copy <br/>of this page</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
</div>
