
{% include 'prompt.jinja2' %}
{% include 'user.jinja2' %}

<style type='text/css'>

	#select_view { width: 18em; }
	#select_model { width: 18em; }

	#back_to_library, #select_view, #select_model-button {
		/*height: 1.5em !important;*/
		/*min-height: 80%;*/
	}

	#select_view, #select_model {
		display: none;
	}
	.hot_select { visibility: hidden;}
	
	table#maintable {
		position: fixed;
		top: 0; left: 0;
	}
	#aftertable {
		margin-top: 2em; 
	}
	
</style>


<table id='maintable'>
<tr>
	<td>
		{% include 'menu.jinja2' %}
	</td>
	<td>

	{% if not navigation['current_thing'] %}
	  <select id='select_library' class='hot_select'>
	  	<option value="#"  selected = 1>📖&nbsp; Other libraries&hellip;</option>

		<!-- {% for li in navigation['libraries'] %}
	    <option value="{{li['url']}}" {% if li['current'] %} selected = 1 {% endif %}>
	    	{{li['name']}}
	    </option>
	    {% endfor %} -->

		{% for sup, sup_libraries in navigation['libraries_indexed'] %}
		    {% for li in sup_libraries %}
		    <option name='{{li['name']}}' value="{{li['url']}}">
		    	<!-- note the span has no effect inside option -->
				<!--{% if li['current'] %} selected = 1 {% endif %}-->
		    	📖&nbsp; {{sup}} / {{li['name']}}
		    </option>
		    {% endfor %}

		{% endfor %}

	  </select>
	 {% else %}
	 	<a id='back_to_library' style='visibility: hidden'
		href="{{root}}/libraries/{{navigation['current_library']}}/">
	 		<span class='unicode-icons'>⟲</span> Library
	 		 <span class="library_name">
	 		 	{{navigation['current_library']}}
	 		 </span>
	 	</a>
	 	<script type='text/javascript'>
	 	$(document).ready(function() {
	    	$("#back_to_library").button();
	    	$("#back_to_library").css('visibility', 'visible');
		});
		</script>
	 {% endif %}

	    <!-- Also add the same but with hidden links -->
		{% for li in navigation['libraries'] %}
	        <a style='display:none' href="{{li['url']}}"></a>
	    {% endfor %}

	  </td>
	  <td>

	  <select id='select_model' class='hot_select'>
	  	{% if not navigation['current_model'] and not navigation['current_template']
	  		and not navigation['current_poset'] %}

	  		<option value="#"  selected = 1>🔎&nbsp; MCDPs/posets/&hellip; </option>

	  	{% endif %}

	    {% for mi in navigation['models'] + navigation['templates'] + navigation['posets'] + navigation['values'] %}
	    <option value="{{mi['url']}}" {% if mi['current'] %} selected = 1 {% endif %}>
	    	{% if mi in navigation['models']    %}&#10213;&nbsp;{% endif %}
	    	{% if mi in navigation['templates'] %}&#x2661;&nbsp;{% endif %} <!-- ⢶ -->
	    	{% if mi in navigation['posets']    %}&#x28B6;&nbsp;{% endif %} <!-- ♡ -->
	    	{% if mi in navigation['values']    %}&#x2723;&nbsp;{% endif %} <!-- ✣ -->
	    	{{mi['name']}}
	    </option>
	    {% endfor %}
	  </select>

	    <!-- Also add the same but with hidden links -->
		{% for mi in navigation['models'] %}
	        <a style='display:none' href="{{mi['url']}}"></a>
	    {% endfor %}
	  </td>

	  <td>

	  {% if navigation['current_model'] %}

		  <select id='select_view' class='hot_select'>
		    {% for vi in navigation['views'] %}
		    <option value="{{vi['url']}}" {% if vi['current'] %} selected = 1 {% endif %}>
		    	<!--<span class='unicode-icons'></span> -->
				👁&nbsp; {{vi['name']}} <!--&#128065; 👁-->
		    </option>
		    {% endfor %}
		  </select>

			{# Also add the same but with hidden links #}
			{% for vi in navigation['views'] %}
			    <a style='display:none' href="{{vi['url']}}""></a>
			{% endfor %}

	  {% endif %}
	  </td>
</td>
</td>
</tr>
</table>
<div id='aftertable'/>




<script type = "text/javascript">
	$(document).ready(function() {

		function handle(event, ui) {
		 console.log('change');
		  window.location = $(this).val();
		}

		$('.hot_select').selectmenu({change: handle});
		$('.hot_select').css('visibility', 'visible');
		/*$('.hot_select').show();*/
	});
</script>


</div>
