<style type='text/css'>
div.navigation {font-size: smaller; }
div.navigation span.additional {margin-left: 2em; }

div.library, div.this_model { 
	display: inline; 
	margin: 5px;
	padding: 5px;
	background-color: #eee;
}

div.library span, div.this_model span { font-weight: bold; }

</style>

<div class="navigation">

	<div class="library">
	<span>Library:</span>


  <script type="text/javascript">
  window.showPrompt = function() {
    do {
        var name=prompt("Please enter the name for the new model:");
    }
    while(name.length < 4);
    window.location = "/new_model/" + name
  }
  </script>
  
  <span class='models'>
  <select class='hot_select'>
    {% for m in models %}
    <option value="/models/{{m}}/{{current_view}}"    
	    {% if m == model_name %}
	    selected = 1
	    {% endif %}
    >
    	{{m}}
    </option>
    {% endfor %}
  </select>
  </span>
  
  <form style='display:inline' method="GET" action="/refresh_library">
	    <input type="submit" value="&#8634;"/>
  </form>
   <button onclick="showPrompt();">+</button>
  
  <form style='display:inline' method="GET" action="/qr_reader">
	    <input type="submit" value="QR+"/>
  </form>
 
  
  </div>
  
  <div class="this_model">
	  <span>Model:</span>
	 
	  
	  <span class='view'>
	  <select class='hot_select'>
	    {% for v in views %}
	    <option value="/models/{{model_name}}/{{v}}"    
		    {% if v == current_view %}
		    selected = 1
		    {% endif %}
	    >
	    	{{v}}
	    </option>
	    {% endfor %}
	  </select>
	  </span>
	   
    <form style='display:inline' method="GET" action="/edit/{{model_name}}">
	    <input type="submit" value="Edit"/>
	 </form>
	 
     <form style='display:inline' method="GET" action="/edit_fancy/{{model_name}}">
	    <input type="submit" value="Edit+"/>
	 </form>
  
  	<form style='display:inline' method="GET" action="/solver/{{model_name}}/">
	    <input type="submit" value="Solve"/>
	 </form>
  
  </div>
  
<script type = "text/javascript">
 $('.hot_select').change(function() {
  window.location = $(this).val();
});
</script>

	<span class='additional'>
	<a href="{{request.url}}" target="_blank">open a copy</a>

	</span>
	
</div>