<style type='text/css'>

	#select_view { width: 18em; }
	#select_model { width: 18em; }
</style>


<table>
<tr>
	<td>
		{% include 'menu.jinja2' %}
	</td>
	<td>
	
	{% if not navigation['current_model'] %}
	  <select id='select_library' class='hot_select'>
	    {% for li in navigation['libraries'] %}
	    <option value="{{li['url']}}" {% if li['current'] %} selected = 1 {% endif %}>
	    	{{li['name']}}
	    </option>
	    {% endfor %}
	  </select>
	 {% else %}
	 	<a id='back_to_library' href="/libraries/{{navigation['current_library']}}/">
	 		Library
	 		 <span class="library_name">
	 		 	{{navigation['current_library']}}
	 		 </span>
	 	</a> 
	 	
	 	<script type='text/javascript'>
	 	$(document).ready(function() {  		
	    	$("#back_to_library").button();
		});
		</script>
	 {% endif %}
	    
	    <!-- Also add the same but with hidden links -->
		{% for li in navigation['libraries'] %}
	        <a style='display:none' href="{{li['url']}}"></a>
	    {% endfor %}
	    
	  </td>
	  <td>
	  
	  <select id='select_model' class='hot_select'>
	  	{% if not navigation['current_model'] and not navigation['current_template'] 
	  		and not navigation['current_poset'] %}
	  		
	  		<option value="#"  selected = 1> Select one... </option>
	  		
	  	{% endif %}
	  
	    {% for mi in navigation['models'] + navigation['templates'] + navigation['posets'] + navigation['values'] %}
	    <option value="{{mi['url']}}" {% if mi['current'] %} selected = 1 {% endif %}>
	    	{{mi['name']}}
	    </option>
	    {% endfor %}
	  </select>
	 
	    <!-- Also add the same but with hidden links -->
		{% for mi in navigation['models'] %}
	        <a style='display:none' href="{{mi['url']}}"></a>
	    {% endfor %}
	  </td>
	  	
	  <td>   
	  
	  {% if navigation['current_model'] %}
    	  
		  <select id='select_view' class='hot_select'>
		    {% for vi in navigation['views'] %}
		    <option value="{{vi['url']}}" {% if vi['current'] %} selected = 1 {% endif %}>
		    	{{vi['name']}}
		    </option>
		    {% endfor %}
		  </select>
			    
			{# Also add the same but with hidden links #}
			{% for vi in navigation['views'] %}
			    <a style='display:none' href="{{vi['url']}}""></a>
			{% endfor %}
  
	  {% endif %} 
	  </td>
</td>
</tr>
</table>
  
<script type = "text/javascript"> 
	$(document).ready(function() {
	
		function handle(event, ui) {
		 console.log('change');
		  window.location = $(this).val();
		}
		
		$('.hot_select').selectmenu({change: handle});
	//	$('.hot_select').show();
	});
</script>

	
</div>