<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% include 'head.jinja2' %}
</head>
<body> 
<p class="success-message">The model <span class="model_name">{{model_name}}</span>
has been created. <a href="/edit/{{model_name}}">Edit it.</a>
</body>
</html>