<script type = "text/javascript" src = "{{static}}/javascript/prompt.js"></script>

<div id="dialog-form"  style='display: none'>
  <!-- <form > -->
    <fieldset style='border:0'>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <!-- <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"> -->
    </fieldset>
  <!-- </form> -->
  <p style='color:red' id='form_error'></p>
  <p>Valid identifiers start with a letter or underscore
  and can contain letters, underscores, numbers, subscripts,
  and greek letters.</p>
</div>
