{% extends "base_page.jinja2" %}
{% block title %}
    Repositories
{% endblock %}
{% block content %}
    {% include 'user.jinja2' %}
    {% include 'model_views_navigation.jinja2' %}
    <style>
    #one {
        
    }
    </style>
    <ul id='one'>
        {% for repo_name in navigation.repos %}
        <li>{{links.repo(repo_name)}}</li>
        {% endfor %}
    </ul>
{% endblock %}
