<!DOCTYPE html>
<html lang="en">
<head>
    <title>Repositories</title>
    {% include 'head.jinja2' %}
</head>
<body>

<ul>
    {% for id_repo, repo in navigation.repos.items() %}
    <li><a href='{{root}}/repos/{{id_repo}}/'>Repo {{id_repo}}</a></li>
    {% endfor %}
</ul>
{% include 'footer.jinja2' %}
</body>
</html>
