<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bundle {{sname}}</title>
    {% include 'head.jinja2' %}
</head>
<body>
{% include 'user.jinja2' %}
{% include 'menu.jinja2' %}

<a href="{{root}}/shelves/">🔙 Complete list</a>

{% from 'add_library_button.jinja2' import add_library_button with context %}

<table>
    <tr>
        <td>
             {{icon_shelf}} <code>{{sname}}</code>
        </td>

        <td>{{shelf.get_desc_short()}}</td>

        <td>
            {% if sname in navigation['shelves_used'] %}
                active
            {% else %}
                inactive
            {% endif %}
        </td>

        <td>
            {% if shelf_can_subscribe(sname) %}
                {% if sname in navigation['shelves_used'] %}
                    <form action="{{root}}/shelves/{{sname}}/unsubscribe" method="post">
                        <input type="submit" value="deactivate"/>
                    </form>
                {% else %}
                    <form action="{{root}}/shelves/{{sname}}/subscribe" method="post">
                        <input type="submit" value="activate"/>
                    </form>
                {% endif %}
            {% endif %}
        </td>
    </tr>
</table>


<p>{{desc_long|safe}}</p>

{% if shelf.get_libraries_path() %}
<p>This bundle contains {{ shelf.get_libraries_path() | length}} libraries:

    <span class='library-list'>
    {% for libname in shelf.get_libraries_path() %}
        <a href="{{root}}/shelves/{{sname}}/libraries/{{libname}}/">{{icon_library}} <code>{{libname}}</code></a>
    {% endfor %}
    </span>

</p>
{% else %}
<p>This bundle contains no libraries yet.</p>

{% endif %}


{{add_library_button(sname)}}

{% include 'footer.jinja2' %}
</body>
</html>
