<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forbidden</title>
    {% include 'head.jinja2' %}
</head>
<body>

<p>The shelf {{navigation.shelf_name}} is inactive, so you cannot access its contents.</p>

<p><a href="{{root}}/shelves/{{navigation.shelf_name}}/subscribe">Activate shelf</a></p>


</body>
</html>
