<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forbidden</title>
    {% include 'head.jinja2' %}
</head>
<body>

<p>The shelf {{navigation.shelf_name}} is inactive, so you cannot access its contents.</p>
{% set shelf_url_ = shelf_url(navigation.repo_name, navigation.shelf_name) %}
<p><a href="{{shelf_url_}}/:subscribe/">Activate shelf</a></p>


</body>
</html>
