{% extends "base_page.jinja2" %}
{% block title %}
    Shelves
{% endblock %}
{% block head_extra %}
    <style>{% include 'shelves_index.css' %}</style>
    <script>{% include 'shelves_index.js' %}</script>
{% endblock %}
{% block content %}

{% include 'model_views_navigation.jinja2' %}

{% from 'user_name_and_picture.jinja2' import user_name_and_picture with context %}
{% from 'list_libraries_for_shelf.jinja2' import list_libraries_for_shelf with context %}
{% from 'shelf_row.jinja2' import shelf_row with context %}
{% from 'shelf_rows.jinja2' import shelf_rows with context %}


<table class="shelves_list" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Shelf name</th>
            <th>Permissions</th>
            <th>description</th>
            <th colspan=2>status</th>
        </tr>
    </thead>

    {% if navigation.repo_name %}
            {{shelf_rows(navigation.repo_name, navigation.repos[navigation.repo_name])}}
    {% else %}
        {% for repo_name, repo in navigation.repos.items() %}
            <tr><td colspan=5>{{links.repo(repo_name)}}</td></tr>
            {{shelf_rows(repo_name, repo)}}
        {% endfor %}
    {% endif %}
</table>


<p class='tip' id='shelf-organization'>
    MCDP models are organized in <em>shelves</em>.
    These are all the <em>shelves</em> available to you. If you wish to use the libraries
    in a particular shelf, you need to activate it here first.
</p>

{% endblock %}
