<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shelf {{sname}}</title>
    {% include 'head.jinja2' %}
</head>
<body>
{% include 'user.jinja2' %}

<p><a href="{{root}}/shelves/">🔙 Complete list</a></p>
<p>🏛 <code>{{sname}}</code></p>

<p>{{ shelf.get_libraries_path() | length}} libraries</p>
<p>{{shelf.get_desc_short()}}</p>

<p>{{desc_long|safe}}</p>

<p>
{% if sname in navigation['shelves_used'] %}
    subscribed
{% else %}
    not subscribed
{% endif %}
</p>

 <p>
{% if can_subscribe(sname) %}
{% if sname in navigation['shelves_used'] %}
<form action="{{root}}/shelves/{{sname}}/unsubscribe" method="post">
    <input type="submit" value="unsubscribe"/>
</form>
{% else %}
<form action="{{root}}/shelves/{{sname}}/subscribe" method="post">
    <input type="submit" value="subscribe"/>
</form>
{% endif %}
{% endif %}
</p>
        


{% include 'footer.jinja2' %}
</body>
</html>
