.active {
    color: darkgreen;
}

.inactive {
    color: darkred;
}

span.library-list a:not(:last-child)::after {
    content: ', '
}

tr.used {}

tr.unused {
    background-color: lightgrey;
}

.shelves_list {
    width: 100%;
}

.shelves_list th {
    text-align: center;
}

td.permissions {
    text-align:center;
}
