<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource tree</title>
    {% include 'head.jinja2' %}
</head>
<body>
<style>
{% include 'user.jinja2' %}
{% include 'model_views_navigation.jinja2' %}

p.one {
    margin: 0;
}
</style>
    {% for page, level in pages %}
    <p class='one' style='padding-left: {{level}}em'> <a href="{{root}}/{{page}}">{{page}}</a></p>
    {% endfor %}

{% include 'footer.jinja2' %}
</body>
</html>
