<div id='userbox'>
{% if user_struct is defined and user_struct %}

<img id='gravatar' src='{{root}}/users/{{user_struct.info.username}}/small.jpg'/>
<a href="{{root}}/users/{{user_struct.info.username}}/">
{{user_struct.info.name}}
</a>
 (<a href='{{root}}/logout/'>logout</a>)
{% else %}
👤 <a href="{{root}}/login/">login</a>
{% endif %}
</div>

<style type='text/css'>
	#userbox {
		right: 0;
		position: fixed;
		top: 0;
		padding: 6pt;
		/*font-size: smaller;*/
		z-index: 100;
	}
	img#gravatar {
		height: 13pt;
		float:left;
		margin-right: 5pt;
	}
</style>
