#syntax_error, #language_warnings {
    white-space: pre-wrap;
    word-wrap: break-word;

    width: 100ex;
    font-weight: bold;
    font-size: 70%;

}
/**[contenteditable="true"]{display: inline-block;}*/

#syntax_error, .unparsable {
	color: red;
}

#language_warnings {
    color: darkorange;
}

#error_notice {
	color: red;
}

#editor {
	font-size: 65%;
	width: 40em;
    font-family: "Andale Mono", Courier, monospace;
}

#around_editor {margin: 0; padding: 0.5em;}
#around_editor pre { margin: 0; padding: 0.4em; background-color: #f4f4f4;}
#editor { outline: 0px solid transparent; }

	table td { vertical-align: top; }
  	html, body { height: 100%; border: solid 0px red; padding: 0; margin: 0; }
  
/* .ui-button-text {font-size: 12px !important; padding :0px;} */