#syntax_error {
	font-weight: bold;
	font-size: smaller;
	color: red;
}
#error_notice {
	color: red;
}

#editor {
	font-size: 80%;
	width: 40em;
}

#around_editor {margin: 0; padding: 0.5em;}
#around_editor pre { margin: 0; padding: 0.4em; background-color: #f4f4f4;}
#editor { outline: 0px solid transparent; }

	table td { vertical-align: top; }
  	html, body { height: 100%; border: solid 0px red; padding: 0; margin: 0; }
  