{% set format = 'png' %}
<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="UTF-8">
      {% include 'head.jinja2' %}
      <style type='text/css'>
          {% include 'editor_fancy/edit_form_fancy_generic.css' %}

      </style>
      <script type='text/javascript'>
      {% include 'editor_fancy/edit_form_fancy_generic.js' %}
      </script>

      <title>{{navigation['current_thing']}}</title>
  </head>


  <body spellcheck="false">
      {% include 'model_views_navigation.jinja2' %}

  <div id='allcontents' style='visibility: hidden'>
  <table style='width: 100%; border: solid 0px black'>
    <tr>
  <td colspan=1>
    <div id='commands'>
        <button id='save'><span class='unicode-icons' title='💾'>💾</span>save</button>
        <!-- <button id='close'><span class='unicode-icons'>×</span> save and close</button>  -->
          <!-- <button id='discard'><span class='unicode-icons' title='🗑'>🗑</span>discard and close</button>  -->
          <button id='revert'><span class='unicode-icons'>🗑</span>revert</button>

        {%import 'font_control.jinja2' as font_control%}
        {{font_control.font_control('div#around_editor')}}

          <button id='apply_suggestions' style='display: none; margin-left: 5em'>
              <span class='unicode-icons'>💡</span>beautify</button>
          <span id='save_status'></span>
      </div>
</td>
    <td style='border: solid 0px gray;  position:fixed; ' width='49%' rowspan=2>
      <div style='height: 100%; margin: 0; width: 100%; text-align: center;'>
      <a id='graph' href="graph.{{format}}">
          <img src='{{root}}/static/white.png' style='max-height: 95vh; max-width: 100%'/>
      </a>
          <script type='text/javascript'>
          $(document).ready(function() {
              $('#graph').imageZoom();
        });
          </script>
      </div>
      </td>

</tr>

  <tr style=''><td style='' width="50%">
          <!-- do not add spaces between div and pre because we
               are doing tricks with html()-->
      <div id='around_editor'><pre><code contenteditable="true" id='editor'>{{source_code|safe}}</code></pre>
      </div>
  </td>

  </tr>

<tr>
	<td colspan=2>
  <span id='server_status'></span>
  <pre id='syntax_error' style='display: none'></pre>
  <pre id='language_warnings'></pre>
  <pre id='comm_failure'></pre>
  </td></tr>
  </table>
  </div>

  </body>
</html>
