#syntax_error, #language_warnings {
    /* at most 100 chars (approximately) */
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100ex;
    /*color: red !important;*/
    font-weight: bold;
    font-size: 70%;
}
/**[contenteditable="true"]{display: inline-block;}*/

#syntax_error, .unparsable {
	color: red;
}

#language_warnings {
    color: darkorange;
}

.language_warning_entry {
    margin-left: 10px; 
    box-shadow: 1px 1px 4px lightgrey;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffdd;
}
#syntax_error {
    margin-left: 10px;
    box-shadow: 1px 1px 4px lightgrey;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffdddd;  
}


#error_notice {
	color: red;
}

#editor {
	font-size: 75%;
	width: 40em;
    /*font-family: "Andale Mono", Courier, monospace;*/
    font-family:  Courier, monospace;

}

#around_editor {
    margin: 0; 
    padding: 0.5em;
}

#around_editor pre {
    box-shadow: 1px 1px 4px lightgrey;
    border-radius: 5px;
    margin: 0; 
    padding: 0.4em; 
    background-color: #f4f4f4;  
}    

#editor { 
    outline: 0px solid transparent; 
}

	table td { vertical-align: top; }
  	html, body { height: 100%; border: solid 0px red; padding: 0; margin: 0; }
  
/* .ui-button-text {font-size: 12px !important; padding :0px;} */



/*pre { line-height: 90%; }*/
