<!DOCTYPE html>

<html lang="en">
  <head>
  	{% include 'head.jinja2' %}
  	<style type='text/css'>
  	{% include 'editor_fancy/edit_form_fancy_generic.css' %}
  	</style>

  </head>
  
  <body>
  	{% include 'model_views_navigation.jinja2' %}
  
  
  <table style='width: 100%; border: solid 0px black'>
    <tr>
  <td colspan=2>
    <div id='commands'>
	  	<button id='save'>Save</button>
	  	<button id='discard'>Discard</button>
	  	<span id='save_status'></span>
  	</div>
  	<script type='text/javascript'>
	  	$(document).ready(function() {  		
		  	function nodefault(event) { 
		  		event.preventDefault(); 
		  	}
	    	$("button").button().click(nodefault);
		});
		$(document).on('keydown', '#editor', function(e){
		  //detect 'tab' key
		  if(e.keyCode == 9){
		    //add tab
		    //document.execCommand('insertHTML', false, '&#009');
		    document.execCommand('insertHTML', false, '   ');
		    //prevent focusing on next element
		    e.preventDefault();
		  }
		});
	 </script>
</td>
</tr>

  <tr style=''><td style=' border: solid 0px gray; width: 50%'>
	  <div id='around_editor'>
	  	<!--<code><pre contenteditable="true" id='editor'></pre></code>-->
	  	<pre><code contenteditable="true" id='editor'>{{source_code|safe}}</code></pre>
	  </div>
  </td>

	<td style='border: solid 0px gray; text-align: center'>
	  <div style='height: 100%; border: solid 0px yellow'>
	  <a id='graph' href="graph.png">
	  	<img src='graph.png' style='max-height: 20em; max-width: 100%'/>
	  </a>
	  	<script type='text/javascript'>
	  	$(document).ready(function() {
	  		$('#graph').imageZoom();
		});
	  	</script>
	  </div>
  	</td>
  </tr>

<tr>
<td colspan=2>
	
  <span id='server_status'></span>
  <pre id='syntax_error'></pre>
  <pre id='language_warnings'></pre>
  <pre id='comm_failure'></pre>
  </td></tr>
 
  </table>
  
	
<script type='text/javascript'>
	var last_text_sent_to_server = null;
	var last_rendered_text = null;
	var timeoutID = null;
	var parsing_wait_ms = 800;

	$(document).ready(function() {

		$("#editor").keyup(keyup);
		$( "button#save" ).click(click_button_save);
		$( "button#discard" ).click(click_button_discard);

	    try_to_parse(current_text());
	});

	function current_text() {
		text = $("#editor").text();
		console.log($("#editor").html());
		console.log(text);
		return text;
	}

	function keyup() {
		/* We do not ask for parsing every time a key is pressed */
		text = current_text();
		
		// do not do it twice
		if (text == last_rendered_text)
			return; 
		if (text == last_text_sent_to_server)
			return;

		text_has_changed();
		
		// and we wait that the user stops editing
		if (timeoutID != null){
			window.clearTimeout(timeoutID);
		}

		timeoutID = window.setTimeout(try_to_parse_it, parsing_wait_ms);
	}

	function text_has_changed() {
		// $('button#save').disable();
		$('#around_editor').css('background-color', '#ffe');
		$('#syntax_error').html('');
		$('#language_warnings').html('');
		
		current =$("a#graph img").attr("src");
		desired = '/static/white.png';
		if (current != desired) {
			$("a#graph img").attr("src", desired);	
			//$('a#graph').imageZoom();	
		}
		saved = false;
	}


	function try_to_parse_it() {
		console.log('asking server');
		text = current_text();
		
		//element = $('#editor').get(0);
		
		try_to_parse(text);
		update_image();
	}

	function on_comm_failure(error) {
		console.log('AJAX error');
		console.log(error);
		$('#comm_failure').html(error);
	}

	function update_text(highlight, pos) {
	
		$("#editor").html(highlight);
		
		editor = $("#editor").get(0);
		elements = get_elements(editor);

		if (pos >= elements.length) {
			pos = elements.length - 1;
			textNode = elements[pos]['text'];
			caret = elements[pos]['char'] + 1
		} else {
			e = elements[pos];
			textNode = e['text'];
			caret = e['char'];
				
			if (e == null) {
				console.log('Could not find element at range ' + pos);
				console.log(elements);
			}
		}
		
		var range = document.createRange();
		range.setStart(textNode, caret);
		range.setEnd(textNode, caret);
		var sel = window.getSelection();
		sel.removeAllRanges();
		sel.addRange(range);
	}


	function update_text_with_highlight(req_text, highlight) {
		console.log('highlight: ' + highlight)
		// never change the user input!
		pos = getCaretCharacterOffsetWithin($("#editor").get(0));
		if (pos == null){
			console.log('Cannot get element cursor.');
			pos = 0;
		}
		last_rendered_text = req_text;

		update_text(highlight, pos);	
	}

	function still_relevant(req_text) {
		text = current_text();
		return req_text == text;
	}

 	function multiple_selection() {
 		// Returns true if the user is selecting an area
 		// So that we don't replace the text below 

 		function getSelectedText() {
		    var text = "";
		    if (typeof window.getSelection != "undefined") {
		        text = window.getSelection().toString();
		    } else if (typeof document.selection != "undefined" && document.selection.type == "Text") {
		        text = document.selection.createRange().text;
		    }
		    return text;
		}
		text = getSelectedText();
		return text.length  > 0;
 	}

	function try_to_parse(s) {
		//console.log(JSON.stringify(s));

		function on_proc_failure(res) {
			//console.log('on_proc_failure ' + ('highlight' in res) + res['highlight'])
			//console.log('res: ' + (JSON.stringify(res)))
			// console.log(res['error']);
			$('#syntax_error').html(res['error']);
			$('#language_warnings').html(); /* XXX */

			//$('#syntax_error').show();
			$('#around_editor').css('background-color', '#fee');
			//$('button#save').text('Save (even though there are errors)');
			//$('button#save').enable();

			if ('highlight' in res) {
				res_text = res['request']['text']
				relevant = still_relevant(res_text);
				//console.log('relevant ' +relevant)
				if (relevant)
					update_text_with_highlight(res_text, res['highlight']);
				else {
					show_status('#server_status', 'Server is slow in responding...');
				}
			}
		}	

		function on_success(res) {
			res_text = res['request']['text']
			relevant = still_relevant(res_text);

			if (!relevant || (res_text != last_text_sent_to_server)) {
				//console.log('Slow server: ignoring stale.');
				show_status('#server_status', 'Server is slow in responding...');
				return;
			}

			if(multiple_selection())
				return;

			$('#around_editor').css('background-color', 'white');
			$('#syntax_error').html('');
			if ('language_warnings' in res) {
				$('#language_warnings').html(res['language_warnings']);
			}
			
			//$('button#save').text('Save');
			//$('button#save').enable();

			update_text_with_highlight(res_text, res['highlight']);
		}

		last_text_sent_to_server = s;
		ajax_send("ajax_parse", {'text': s}, 
				 on_comm_failure, on_proc_failure, on_success);
	}

	function click_button_discard(res) {
		// Override safety mechanism
		saved = true;
		location.reload();
	}

	function click_button_save() {
		$('#save_status').html('saving...');
		data = {'text': current_text()};
		ajax_send("save", data, on_comm_failure, 
				  click_button_save_failure, click_button_save_success);
	}
	
	function click_button_save_success(res) {
		show_status('#save_status', 'success');
		console.log('success');
		console.log(res);
		/// XXX not if the text has changed in the mean time
		saved = true;
	}

	function click_button_save_failure(res) {
		show_status('#save_status', 'failed');
		console.log('failure');	
		console.log(res);
	}

	display_timeout = 2000;

	function show_status(selector, msg) {
		$(selector).html(msg);
		window.setTimeout(function() {
				$(selector).html('');
			},
			display_timeout);
	}

	function update_image() {
		text = current_text();
		hash = hex_sha1(text);
		url = "graph.png?"+hash;
		//$("a#graph").attr("href", url);		
		$("a#graph img").attr("src", url);		
		//$('a#graph').imageZoom();
	} 



	var saved = true; 

	function confirmExit() {
    	if (!saved) {
        	return "You did not save, do you want to do it now?";
    	}
	}
	window.onbeforeunload = confirmExit;
	
	$(window).keydown(function (e){
    if ((e.metaKey || e.ctrlKey) && e.keyCode == 83) { /*ctrl+s or command+s*/
        e.preventDefault();
        click_button_save();
    }
});
</script>


	</script>
  
  </body>
</html>