<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% include 'head.jinja2' %}
</head>
<body> 
<p class="error-message"><span class="model_name">{{widget_name}}</span>
already exists. <a href="{{url_edit}}">Edit it.</a>
</body>
</html>