*.egg-info
out-*
out
.compmake.rc
*.timestamps
*.metadata.yaml
*.pyc
.coverage
.noseids
coverage_information
resized
.ipynb_checkpoints
4*.dot
emergency.dot
dist/PyMCDP-*.tar.gz
sandbox
*.prof
.DS_Store
_cached
_mcdpweb_cache
./dist
./build
ouit_coverage
dist/PyMCDP-1.2.0.tar.gz
dist/mcdp-plot
dist/mcdp-web
./build
build
dist
make
parmake
remake
t
failed_*
misc/cards.out
minimality_game
tc
out2
instructions.txt
.compmake_history.txt
out_coverage
tmp*
src/mcdp_data/libraries/manual.mcdplib/attic/
mcdp-users-db
src/mcdp_data/libraries/manual.mcdplib/docs/part3-reference/06_lang_d2_uncertainty.html
src/mcdp_data/libraries/manual.mcdplib/docs/part3-reference/06_lang_d2_uncertainty.pdf
