*.egg-info
out-*
src/procgraph_optimize/examples/coastguard09.avi*
out
*.avi*
.compmake.rc
*.pgc
.compmake.rc
*.mp4
*.timestamps
*.metadata.yaml
*.pyc
.coverage
.noseids
coverage_information
sandbox/live
resized
.ipynb_checkpoints
4*.dot
rafc-notebooks
emergency.dot
dist/PyMCDP-*.tar.gz
sandbox
*.prof
.DS_Store
a.html
a.html_resources
_cached
_mcdpweb_cache
./dist
./build
ouit_coverage
dist/PyMCDP-1.2.0.tar.gz
dist/mcdp-plot
dist/mcdp-web
./build
build
dist
