include *.md
include Makefile
include requirements.txt

recursive-include src *

recursive-include misc *.tmTheme
recursive-include misc *.sublime-syntax

recursive-include mcdp_data Makefile
recursive-include mcdp_data *.mcdp
recursive-include mcdp_data *.mcdp_value
recursive-include mcdp_data *.mcdp_poset
recursive-include mcdp_data *.mcdp_template
recursive-include mcdp_data *.mcdp_primitivedp
 



global-exclude out out_expected _attic

