include *.md
include Makefile
include requirements.txt

recursive-include src *

recursive-include misc *.tmTheme
recursive-include misc *.sublime-syntax

recursive-include libraries Makefile
recursive-include libraries *.mcdp
recursive-include libraries *.mcdp_value
recursive-include libraries *.mcdp_poset
recursive-include libraries *.mcdp_template
recursive-include libraries *.mcdp_primitivedp
 



global-exclude out out_expected _attic

