include *.rst
include *.md
include *.txt
include *.cfg
include *.mk

include *.mcdp
include *.mcdp_value
include *.mcdp_poset
include *.mcdp_primitivedp

recursive-include src/mocdp *
recursive-include src/mocdp/dp_report/icons *

