pint
pyparsing
networkx
pint
watchdog
pyramid
pyramid_jinja2
pyramid_debugtoolbar
bs4
nose
reprep


bcrypt
markdown
junit_xml
lxml
bcrypt
waitress


gitpython
webtest

PyContracts
decentlogs

-e git+https://github.com/AndreaCensi/compmake.git@mcdp#egg=compmake
-e git+https://github.com/AndreaCensi/quickapp.git@mcdp#egg=quickapp
-e git+https://github.com/AndreaCensi/conf_tools.git@mcdp#egg=ConfTools
-e git+https://github.com/AndreaCensi/comptests.git@mcdp#egg=comptests

#numpy
#matplotlib
