python-cjson
networkx
#numpy
#matplotlib
-e git+https://github.com/AndreaCensi/reprep.git@env_fault#egg=RepRep
-e git+https://github.com/AndreaCensi/contracts.git@env_fault#egg=PyContracts
-e git+https://github.com/AndreaCensi/compmake.git@env_fault#egg=compmake
-e git+https://github.com/AndreaCensi/quickapp.git@env_fault#egg=quickapp
-e git+https://github.com/AndreaCensi/conf_tools.git@env_fault#egg=ConfTools
-e git+https://github.com/AndreaCensi/comptests.git@env_fault#egg=comptests
-e git+https://github.com/AndreaCensi/gvgen.git@env_fault#egg=gvgen
