<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {% include 'head.jinja2' %}
    
</head>
<body>
{% include 'model_views_navigation.jinja2' %}

<p>{{message | safe}}</p>

</body>
</html>