@fcolor: darkgreen;
@rcolor: darkred;
@icolor: darkorange;
@keyword-color: #00a;
@unit-color:  #ac5600;
@misc-color:  #cc6600;

//
// @fcolor: #01b093;
// @rcolor: darkred;
// @icolor: darkorange;



h1.draft, h2.draft, h3.draft { color: red !important; }


// Something like <code>![variable]</code>
// becomes: <code><span class='placeholder'>varibale</span></code>

span.placeholder {
    // color: blue;
    // font-weight: bold;
    // font-size: 50%;
    // border: solid 1px white;
    // font-family: serif;
    padding-left: 1px;
    padding-right: 1px;
    // font-style: italic;

    color: white;
    background-color: blue;
    // background-color: white;
}

span.placeholder:before {
    // content: '[';
    // font-family: Times;
}
span.placeholder:after {
    // content: ']';
    // font-family: Times;
}


// XXX these do not work on linux for some reason
// span.placeholder:before {
//     content: '\3008';
//     font-family: Times;
// }
// span.placeholder:after {
//     content: '\3009';
//     font-family: Times;
// }
