
@font-face {
    font-family: STIX;
    font-style: normal;
    font-weight: normal;
    src: url("/Library/Fonts/STIXGeneral.otf")
}

@font-face {
    font-family: STIX;
    font-style: normal;
    font-weight: bold;
    src: url("/Library/Fonts/STIXGeneralBol.otf")
}

@font-face {
    font-family: STIX;
    font-style: italic;
    font-weight: normal;
    src: url("/Library/Fonts/STIXGeneralItalic.otf")
}

@font-face {
    font-family: STIX;
    font-style: italic;
    font-weight: bold;
    src: url("/Library/Fonts/STIXGeneralBolIta.otf")
}
