
body {
  font-family: "Times New Roman", Times, serif !important;
}

@font-face {
    font-family: monospace;
    /*src: local("Consolas")*/
    src: local("Anka/Coder Narrow")
}


code {
    font-family: monospace, Cambria, "Cambria Math";
}
