


/*prince-text-replace: "ffi" "\fb03" "fi" "\fb01" "ffl" "\fb04" "fl" "\fb02" "ff" "\fb00";*/

/*font-variant: prince-opentype(onum) prince-opentype(liga);*/


/*pre, pre code { font-family:"Consolas", "Anka/Coder Narrow" !important; }*/

/* ⟨ */
span.OpenBraceKeyword,  span.CloseBraceKeyword, span.PlaceholderLabel {
    font-family:  "Cambria Math" !important;
}

body {
   // Fallback is Times
   font-family: STIX, STIXMath, Times, monospace;
   // Fallback is monospace to check errors
   // font-family: STIX, STIXMath, monospace;

   font-variant: prince-opentype(kern, liga, dlig, clig, calt);
   font-kerning: normal;
   // font-variant: prince-opentype(kern, liga);
}


//  prince: page 76: warning: no font for Dingbats character U+274C, fallback to '?'
// -> PragmataPro

@font-face {
    font-family: monospace;
    src: local("Anka/Coder Narrow") // "Consolas"
}


code {
    font-family: "Anka/Coder Narrow", monospace, Cambria, "Cambria Math";
}



@import "fonts_mac";
