body {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 10pt;
}


@font-face {
    font-family: monospace;
    /*src: local("Consolas")*/
    src: local("Anka/Coder Narrow")
}


h1 {
    text-align: center;
}

.toc a { text-decoration: none; }

/* Good for safari */
pre {
     box-shadow: none;
}

.ndp_graph_expand,
.ndp_graph_enclosed,
.ndp_graph_normal,
.ndp_graph_templatized,
.ndp_graph_templatized_labeled,
.template_graph_enclosed {
    max-width: 50em;
    
}

span.language_warning { background-color: inherit !important; }

p { max-width: 40em; }

code { page-break-inside: avoid; }



pre, code { font-size: 8pt; }


body {
  text-align: justify;
}
 
h1 { font-size: 15pt; color: black !important;}
h2 { font-size: 12pt; color: black !important;}
h3 { font-size: 10pt; color: black !important; font-style: italic; font-weight: normal;}

code { 
    font-family: monospace, Cambria, "Cambria Math"; 
}

p code { font-size: 8pt; }
pre, pre code { 
}
pre .label { font-size: 8px; font-style: normal; }
pre { 
    margin-left: 0.4em !important; 
    border-radius: 4px !important; 
    padding: 5px !important;
}
/* without labels */
pre:not(.has_label) { 
    /*margin-top: 0 !important;*/ 
     
}
/* with labels */
pre.has_label { 
    /*margin-top: 0.7em !important; */
}

p { margin-top: 0.3em; margin-bottom: 0.3em; }
h1,h2,h3 { margin-bottom: 0.3em; margin-top: 0.3em; }
pre code { margin: 0; }
pre { padding: 3pt; }
a { color: #005; }
/*ul, li {padding: 0; padding-left: 0em !important;}*/
ul.toc { padding-left: 0; }
li {margin: 0; margin-left: 0em;}
/*.toc ul ul li { display: none; }*/
 
 
/************ TOC ***************/

@media print {
    /** two-column format */
    ul.toc { 
        column-count: 2; 
        column-gap: 20px;
    }
    
    /** add page numbers for the first two */
    ul#main_toc > li > a::after { 
        content: leader('_')  target-counter(attr(href), page) ;
        font-weight: bold;
    }

    ul#main_toc > li > ul > li > a::after { content: leader('_')  target-counter(attr(href), page) }
}

ul#main_toc > li > a > span.toc_number { 
    font-weight: bold;
}
ul#main_toc > li > a > span.toc_number::before { 
    content: 'Chapter '; 
    font-weight: bold;
}

ul#main_toc ul,
ul#main_toc ul ul {
    margin-left: 0;
}
ul#main_toc ul ul li  a {
    color: gray !important;
}
ul#main_toc ul ul li {
    display: inline;
}

ul.toc ul ul li a span.toc_number { display: none; }

ul.toc ul ul li a span.toc_name::before {
    margin-right: 3pt;
    
    content: '⟡'; /*◇';*/
    font-family: 'Cambria' !important;
    font-size: 6pt;
    /*padding-bottom: 5pt !important;*/
    /*border: solid 1px red;*/
    /*margin-top: -20pt !important;*/
    /*display: inline;*/
}
ul.toc ul ul li:first-child a span.toc_name::before {
    content: '';
    margin: 0;
}

div > ul:not(.toc)  {
    margin-left: 2em;
    margin-top: -0.3em;
    margin-bottom: -0.3em;
}


/* first header down is highlighted */
ul.chapter_toc > li > a {
    font-weight: bold;
}


/* below numbers are erased */
ul.chapter_toc > li > ul > li > a.toc_link > span.toc_number {
    color: red; 
}

ul.chapter_toc > li > ul > li > a.toc_link > span.toc_number {
    display: none;
}

ul.chapter_toc > li > ul > li > a.toc_link > span.toc_name::before {
    content: '•';
    margin-right: 0.5em;
}



/* keywords appearing in headers */
ul.toc code { 
    /*color: red !important;*/
    font-size: 7pt !important; 
}
ul.toc, ul.toc ul { padding: 0; margin-left: 1em;} 

ul.toc li { padding: 0; margin: 0;} 

ul#main_toc > li {
    /*margin-bottom: 3em;*/
    padding-bottom: 1em;
}
ul#main_toc > li > ul {
    padding-top: 4pt;
}
ul#main_toc > li > a span.toc_name { 
    font-weight: bold;  
    
/*    font-size: larger;*/
}

/*********  end TOC ************/

/********** headings *********/

#toc-heading { text-align: center; }

h2 { margin-top: 2em !important; }
h3 {
    font-style: normal !important;
    padding-top: 1em;

    width: 100%;
    padding-bottom: 3pt;
    border-bottom: solid 0.5pt grey;
}

h1:not(#booktitle), #toc-heading { font-variant: small-caps; }
h1:not(#booktitle) ::before { content: 'Chapter '; }
/***** end headings *****/


/******  latex ****/ 

div.definition::before { font-weight: bold; content: 'Definition';}
div.example::before { font-weight: bold; content: 'Example';}
div.remark::before { font-weight: bold; content: 'Remark';}
div.lemma::before { font-weight: bold; content: 'Lemma';}


.latex_env span.latex_env_label::before {content: ' (';}
.latex_env span.latex_env_label::after {content: ') ';}


/****** end latex ****/ 

/**** misc ***/


body { 
    hyphens: auto;
}
/* No decoration for links */
a { 
    text-decoration: none;
     color: darkblue;
}


pre { 
    margin-bottom: 0;
}

p + pre {
    margin-top: 0.7em;
} 
pre + br + pre { 
    margin-top: 0.3em;
    /*border: solid 1px red;*/
 /*float: left; clear: left;*/
}


p.todo {
background-color: #fdd;
}
p.todo::before { content: 'TODO: '; }
