/* These are the fixes for printing / prince */

@page { 
    /* good for ipad */
    /*size: A5;  148 x 210 mm   5.8 x 8.3 in */
    /* 4:3 with short side being 5.8in; 5.8/3*4=7.73 */
    size: 5.8in 7.73in;
    margin: 0.5cm; /* todo: remove from python */ ;

    margin: 1cm 1cm; /* todo: remove from python */ ;
    margin-top: 1.7cm;
    margin-bottom: 0.312in;
 
    /*
    for Lulu 6x9
     let right margins 6.125 - 5.5  = 0.625 / 2 = 0.312in
       top bottom margins = 9.25 - 8.5 = 0.75 / 2 = 0.375in */
   /* margin:0.375in  0.312in;
    size: 6.125in 9.25in; */

    

}
@page {
@top {
    vertical-align: bottom;
    content: string(doctitle);
    font-size: 10pt;
    font-variant: small-caps;
    }
}


h1 { string-set: doctitle content() }

@media print {

@page { @top-right { padding-bottom: 10pt;} }
@page { @top-left  { padding-bottom: 10pt;} }
@page { @top       { padding-bottom: 10pt;} }

@page:first {
     @top-right { content: none; }
    @top { content: none; }
}
@page:right { @top-right {
    vertical-align: bottom;
    /*padding-right:20px; */
    /*
    padding-bottom: 20px;*/
    /*border: solid;*/
    font-size: 10pt;
    content: counter(page); 
}}
@page:left { @top-left {
    vertical-align: bottom;
    /*padding-right:20px; */
    /*
    padding-bottom: 20px;*/
    /*border: solid 1px red;*/
    font-size: 10pt;
    content: counter(page); 
}}



    /* only in the manual, not in mcdp-render, that is, after a #booktitle */
    h1:not(#booktitle) { 
        page-break-before: always; 
    }

}

/*h1#booktitle  { page-break-before: avoid; }*/


/*
pre  { 
    font-size: 7pt !important; 
    

    display: inline-block;
}

*/

/*line-height: 7pt !important; */



 td pre { margin-top: 0 !important;  margin: 0 !important;}


td {padding: 0 !important;}
/*
table { 
    border: solid 1px blue; 
    max-width: 100%; width: 100%;}
*/
td { 
    /*border: solid 1px red;*/
 }
/*
svg { display: inline-block; transform: scale(0.5);
 outline: 1px solid transparent;
  }*/




merror { color: red; }



body { 
    /*font-family: "Palatino" !important;*/
    /*font-family: "Arial" !important;*/
    /*font-kerning: normal;*/
    /*font-variant: prince-opentype(liga);*/
    
     /*prince-text-replace: "ffi" "\fb03" "fi" "\fb01" "ffl" "\fb04" "fl" "\fb02" "ff" "\fb00";*/
     
       /*font-variant: prince-opentype(onum) prince-opentype(liga);*/

  font-variant: prince-opentype(onum, dlig, liga);
}



svg.hasse text { font-family: monospace !important;}


/*pre, pre code { font-family:"Consolas", "Anka/Coder Narrow" !important; }*/

/* ⟨ */
span.OpenBraceKeyword,  span.CloseBraceKeyword, span.PlaceholderLabel {
    font-family:  "Cambria Math" !important;
}


p + table {  
    margin-top: 0.9em !important;
}

/*

pre { 
    margin-left: auto !important;
    margin-right: auto !important; 
}*/

#mine { text-align: center; }

table {
    width: 100% !important;

}
@media screen {
    body div > ul:not(.toc) {
        margin-left: 0em;
        padding-left: 2em;
        /*border : solid 1px blue;*/
 margin-top: 0.2em;
 margin-bottom: 0.2em;
    }
}
@media print {
/* this is some thing weird, not very robust. Need div.document */
body div > ul:not(.toc) {
  /*border : solid 1px blue;*/
 margin-left: 2em; /*prince wants */
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

ul.toc ul:not(.toc) {
  /*border : solid 1px red;*/
}
}



footnote { 
    float: footnote; 
    font-size: smaller;

}

@page {
    @footnotes {
    border-top: solid black thin;
    margin-left: 1em;
    padding-top: 3pt;
    margin-top: 5pt;
    }
}


/* saves 75% of time */
/*ul.toc { display: none; }*/


/*span.MathJax_SVG { border: solid 1px red;  position: relative; left: -4em;}*/

/* fix this in Prince */
svg { max-width: 100%;}


figcaption {page-break-before: avoid;}
/*
@media print {
h1::after {
    margin-top: -3em;
    content: ' ';
    background-color: red;
    position: absolute;
    left: 3cm;
    width: 8cm;
    height: 3cm;
    display: block;
    top: 0;
} 
*/

