/**/
 span.NewResource { color: darkred;}
 span.NewFunction { color: darkgreen; }
 
span.Unit, span.Nat, span.Int, span.Rcomp  {  color: #aC5600 ;}

span.ValueExpr, span.IntegerFraction { color: #CC6600 ;}

span.RcompUnit { color: #CC6600 ;}
 /*span.Function  { color: darkgreen;}*/

  
span.MCDPKeyword,
span.SubKeyword,
span.CompactKeyword,
span.AbstractKeyword,
span.TemplateKeyword,
span.ForKeyword,
span.UsingKeyword,
span.LoadKeyword,
span.CodeKeyword,
span.FromLibraryKeyword,
span.leq, span.geq, span.OpKeyword, span.eq, span.plus, span.times, span.DPWrapToken,
span.ImplementedbyKeyword , span.FromCatalogueKeyword, span.MCDPTypeKeywor,
span.InstanceKeyword,
span.CoproductWithNamesChooseKeyword,
span.MCDPTypeKeyword,
span.FromLibraryKeyword,
span.CoproductWithNamesChooseKeyword,
span.MCDPKeyword,
span.SubKeyword,
span.CompactKeyword,
span.AbstractKeyword,
span.TemplateKeyword,
span.ForKeyword,
span.UsingKeyword,
span.LoadKeyword, span.CodeKeyword,
span.leq, span.geq, span.OpKeyword, span.eq, span.plus, span.times, span.exponent, span.product,
span.OpenBraceKeyword,
span.CloseBraceKeyword,
span.comma,
span.DPWrapToken,
span.ImplementedbyKeyword,  
span.FromCatalogueKeyword, 
span.MCDPTypeKeyword,
span.InstanceKeyword,
span.FlattenKeyword,
span.ApproxKeyword,
span.TakeKeyword,
span.SpecializeKeyword,
span.FinitePosetKeyword,
span.ProductKeyword,
span.UncertainKeyword,
span.UpperSetsKeyword,
span.MakeUpperSetsKyword,
span.PowerSetKeyword,
span.IntervalKeyword,
span.UpperSetFromCollectionKeyword,
span.TopKeyword,
span.BottomKeyword,
span.SingleElementPosetKeyword,
span.SpaceCoproductKeyword,
span.IgnoreKeyword,
span.SolveModelKeyword,
span.AnyOfKeyword,
span.MaximalsKeyword,
span.MinimalsKeyword,
span.IgnoreResourcesKeyword,
span.ProcName,
span.ApproxUpperKeyword,
span.ApproxLowerKeyword,
span.VarStatementKeyword,
span.GenericOperationName
{ 
    font-weight: bold; 
    color: #00a;
}


span.ProvideKeyword, span.RequireKeyword  {
    font-weight: bold; 
    
} 

span.ProductWithLabelsLabel, span.IndexLabel  {
	color: #CC6600;
}

span.ProvideKeyword,  span.ProvidedByKeyword, span.FName { color: darkgreen;}
span.RequireKeyword, span.RequiredByKeyword, span.RName  { color: darkred;}
  
   
/* There is a bug that prevents this from working correctly. */
/* span.ImpName { color: #CC6600; } */
span.FuncName { color: #CC6600 ; }


span.FName, span.RName { } 
span.DPName, span.NDPName, span.PosetName, span.TemplateName,
span.TemplateParamName,
span.FinitePosetElement,
span.SingleElementPosetTag
{  
    color: #a0a;
}

span.DPTypeName, span.DPVariableRef {
    color:  #00F; 
    font-weight: bold; 
}
  
span.comment { 
    color: grey;
}

span.line-gutter {    
    margin-right: 1em; 
    color: grey; 
}

span.PlaceholderLabel {
    color: grey;
    /*font-style: italic;*/
}
