    //
    // ONLY_WEB ='only-web'
    // ONLY_EBOOK ='only-ebook'
    // ONLY_DEADTREE ='only-deadtree'


img.video-vimeo-thumbnail-ebook,
img.video-vimeo-thumbnail-deadtree {
    width: 15em;
}

img.video-vimeo-thumbnail-ebook,
img.video-vimeo-thumbnail-deadtree {
    max-width: 20em;
    width: 20em;
}
