.downloads
.html
manual.pdf
node-modules
node_modules
appendix_math.pdf
book_intro.pdf
firstpage.pdf
installation.pdf
adv_approximations.pdf
test_escape.pdf
npm-debug.log
tour_intro.pdf
tour.pdf
a_back_symbols.pdf
a_back_syntax.pdf
another.pdf
test_again.pdf
test_header.pdf
test_weird.pdf
tour.pdf
tour_composition.pdf
tour_coproduct.pdf
tour_intro.pdf
tour_templates.pdf
