
body {
    margin: 0;
    padding: 1em;
    font-size: 10pt;
}

body {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 10pt;
}

pre, code { font-size: 8pt; }
p { max-width: 40em; }

