<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive parser</title>

    {% include 'head.jinja2' %}
	<style type='text/css'>
	#error {
		font-size: 50%;
		color: red;
	}
	
	#output_succces td { vertical-align: top; }
	#output_success td:first-child { text-align: right; } 
	</style>
</head>
<body>

  <textarea id="area" cols=80 rows=5/></textarea>

  <div id='output_success'>
  <table>
  <tr>
  <td >Formatted:</td>
  <td><code><pre id='output_formatted'></pre></code></td>
  </tr>
  <tr>
  <td>Space:</td>
  <td><code><pre id='output_space'></pre></code></td>
  </tr>
  <tr>
  <td>Raw value:</td>
  <td><code><pre id='output_raw'></pre></code></td>
  </tr>
  
  
  </table>
		<code><pre id='output_parsed'></pre></code>
  </div>
  
  <div id='output_error'>
  
  <code><pre id='error'></pre></code>
  </div>
  
  <!--
  <p>
  Useful symbols:
  
  <table>
  <tr>
  <td>
  </td>
  <td>
    ⟨1g, 2J⟩
  </td>
  </tr>
  </table
  </p>-->


<script type="text/javascript">
 
function ajax_begin() {
	$('#operation_error').html('sending...');
}

function ajax_success(data) {
    if (data['ok']) {
        console.log(data);
        $('#output_error').hide();
        $('#output_success').show();
                 
        $('#error').html('');
        $('#output_raw').html(data['output_raw']);
        $('#output_formatted').html(data['output_formatted']);
        $('#output_parsed').html(data['output_parsed'])
        $('#output_space').html(data['output_space'])

    } else {
    	$('#output_success').hide();
        $('#output_error').show();
        
        error = data['error']
    	console.log(error);
    	$('#error').html(error);

        $('#output_raw').html();
        $('#output_formatted').html();
        $('#output_parsed').html();
        $('#output_space').html();
	}
}
    	
function ajax_failure(error) {
	console.log(error);
	$('#error').html(error);
}

function ajax_parse(string) {
    payload = {'string': string};
    jQuery.ajax({
        url     : 'parse',
        type    : 'POST',
        data: JSON.stringify(payload),
        contentType: 'application/json; charset=utf-8',
        success : ajax_success,
        error : ajax_failure
    });
}

 

$(document ).ready(function() {
    $('#area').on('inputchange', function() {
        string = $('#area').val(); 
        document.location.hash = string;
        ajax_parse(string);
    });
    hash = document.location.hash;
    if (hash) {
       string = hash.substring(1);
       $('#area').val(string);
    }
    
});

</script>

</body>
</html>