<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive solver</title>

    {% include 'head.jinja2' %}
	<style type='text/css'>
	  .output_error {font-size: smaller; color: red; font-weight: bold; }
	</style>
</head>
<body>
	{% include 'model_views_navigation.jinja2' %}

  	<img src='compact_graph.png' style='max-width: 50%; float: right'/>

  <style type='text/css'>
  #slider-ln { width: 10em; }
  #slider-un { width: 10em; }
  table#params { font-size: 80%; }
  </style>

  <table id='params'>
  <tr>
  <td style='width: 10em'>
  Query

  </td>
  <td>
  <textarea id="area" cols=40 rows=3/></textarea>
  </td>
	  <td style='text-align: left'>
	  	{{space_description}}
	  </td>
  </tr>
  <tr>
  <td>
  Lower bound n:
  </td>
  <td>
    <input type="text" id="slider-ln-value" value="1" readonly/>
    </td>
    <td>
    <div id='slider-ln'></div> </td>
    </tr>
  <tr>
  <td>
  Upper bound n:
  </td>
  <td>
  <input type="text" id="slider-un-value" value="1" readonly/>
  </td>
  <td>
  <div id='slider-un'></div> </p>
  </td>
  </tr>
</table>

  <pre class='output_error' id='output_error'></pre>
  <pre class='output_success' id='output_result'></pre>

  <img id='output_img' src="{{static}}/white.png" style='width: 20em; height: 20em'/>

  <p>{{space_description}}</p>

  <pre class='output_success' id='output_parsed'></pre>
  <pre class='output_success'  id='output_format'></pre>
  <pre class='output_success' id='output_space'></pre>
  <pre class='output_success' id='output_trace'></pre>

  <pre class='output_error' id='ajax_error'></pre>
  </div>


  <script type="text/javascript">
    var timeoutID = null;
    var wait_ms = 1000;

    function call_after_pause(func, ms) {
      if (timeoutID != null)
        window.clearTimeout(timeoutID);

      timeoutID = window.setTimeout(func, ms);
    }

   function update_l(event, ui) {
      v = $('#slider-un').slider('value');
      console.log('value from 1: ' + v)
      if (ui)
        v = ui.value;
        console.log('value from ui: ' + v)
      //console.log(v);
      $("#slider-ln-value").val(v);
      call_after_pause(evaluate, wait_ms);
   };

   function update_u(event, ui) {
      v = $('#slider-ln').slider('value');
      console.log('value from 1: ' + v)
      if (ui)
        v = ui.value;
        console.log('value from ui: ' + v)
      //console.log(v);
      $("#slider-un-value").val(v);
      call_after_pause(evaluate, wait_ms);
   };

  $(document).ready(function() {
		$('#slider-ln').slider({
			    min: 1,
      		max: 1000,
      		slide: update_l
    });
		$('#slider-un').slider({
          min: 1,
          max: 1000,
          slide: update_u
    });
    update_u(null, null);
    update_l(null, null);
	});
  </script>




<script type="text/javascript">

function ajax_begin() {
	$('#operation_error').html('sending...');
}

function ajax_success(data) {
    if (data['ok']) {
    	console.log('ok');
        console.log(data);
        $('.output_error').html('');

        $('#output_raw').html(data['output_raw']);
        $('#output_formatted').html(data['output_formatted']);
        $('#output_parsed').html(data['output_parsed'])
        $('#output_space').html(data['output_space'])
        $('#output_result').html(data['output_result'])
        $('#output_trace').html(data['output_trace'])

        $('#output_img').attr("src",data['output_image']);

    } else {
    	console.log(data);
    	$('.output_success').html('');

        error = data['error']
    	console.log(error);

    	$('#output_error').html(error);
      $('#output_img').attr("src",'{{static}}/error.png');
	}
}

function ajax_failure(error) {
	console.log(error);
	$('.output_success').html();
	$('#ajax_error').html(error);
}

function evaluate() {
    string = $('#area').val();
    // console.log('string: "'+string+"'");
    if (string.length == 0){
        //console.log('String not present yet.');
        return;
    }
    nl = $('#slider-ln').slider('value');
    nu = $('#slider-un').slider('value');
    //console.log("nl,nu: " + nl + "," + nu);

    $('#output_img').attr("src",'{{static}}/evaluating.gif');

    payload = {'string': string, 'nl': nl, 'nu': nu};
    jQuery.ajax({
        url     : 'submit',
        type    : 'POST',
        data: JSON.stringify(payload),
        contentType: 'application/json; charset=utf-8',
        success : ajax_success,
        error : ajax_failure
    });
}


$(document ).ready(function() {
    $('#area').on('inputchange', function() {
        document.location.hash = string;
        call_after_pause(evaluate, wait_ms);
    });
    hash = document.location.hash;
    if (hash) {
       string = hash.substring(1);
       $('#area').val(string);
    }
});

</script>

</body>
</html>
