<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive parser</title>

    {% include 'head.jinja2' %}
	<style type='text/css'>
	  
	</style>
</head>
<body>
	{% include 'model_views_navigation.jinja2' %}
	
  <p>Enter query:</p>
  <textarea id="area" cols=80 rows=5/></textarea>

  <p>{{space_description}}</p>
  
  <pre class='output_success' id='output_parsed'></pre>
  <pre class='output_success'  id='output_format'></pre>
  <pre class='output_success' id='output_space'></pre>
  <pre class='output_success' id='output_trace'></pre>
  <pre class='output_success' id='output_result'></pre>
  
  <pre class='output_error' id='output_error'></pre>
  <pre class='output_error' id='ajax_error'></pre>
  </div>
  	

<script type="text/javascript">
 
function ajax_begin() {
	$('#operation_error').html('sending...');
}

function ajax_success(data) {
    if (data['ok']) {
        console.log(data);
        $('.output_error').html();
                
        $('#output_raw').html(data['output_raw']);
        $('#output_formatted').html(data['output_formatted']);
        $('#output_parsed').html(data['output_parsed'])
        $('#output_space').html(data['output_space'])
        $('#output_result').html(data['output_result'])
        $('#output_trace').html(data['output_trace'])

    } else {
    	console.log(data);
    	$('.output_success').html();
    	
        error = data['error']
    	console.log(error);
    	
    	$('#output_error').html(error);
	}
}
    	
function ajax_failure(error) {
	console.log(error);
	$('.output_success').html();
	$('#ajax_error').html(error);
}

function ajax_parse(string) {
    payload = {'string': string};
    jQuery.ajax({
        url     : 'submit',
        type    : 'POST',
        data: JSON.stringify(payload),
        contentType: 'application/json; charset=utf-8',
        success : ajax_success,
        error : ajax_failure
    });
}


$(document ).ready(function() {
    $('#area').on('inputchange', function() {
        string = $('#area').val(); 
        document.location.hash = string;
        ajax_parse(string);
    });
    hash = document.location.hash;
    if (hash) {
       string = hash.substring(1);
       $('#area').val(string);
    }
});

</script>

</body>
</html>