{% extends "base_page.jinja2" %}
{% block title %}
    Representations for {{navigation.thing_name}}
{% endblock %}
{% block head_extra %}
    <style>{% include 'library_index.css' %}</style>
    <script>{% include 'library_index.js' %}</script>
{% endblock %}
{% block content %}


	{% include 'model_views_navigation.jinja2' %}

	<style type='text/css'>
 	</style>


    {% for which, formats in available %}
    <p>{{which}}:
    		 <span>
    		 {% for f in formats %}
    		 <a href="{{which}}.{{f}}">
    		 	{{f}}
    		 </a>
    		 {% endfor %}
    		 </span>
    </p>
    {% endfor %}

{% endblock %}
