{% extends "base_page.jinja2" %}
{% block title %}
    {{navigation.thing_name}}
{% endblock %}
{% block content %}

	{% include 'model_views_navigation.jinja2' %}

	 <style type='text/css'>
		 img#graph {
		 	/*max-width: 100%;*/
		 }
 	</style>

	<img id="graph" src='../images/dp_graph_flow.svg'/>

	<p>
	<a href='../images/dp_graph_flow.png'>PNG</a>,
	<a href='../images/dp_graph_flow.pdf'>PDF</a>,
	<a href='../images/dp_graph_flow.svg'>SVG</a>,
	<a href='../images/dp_graph_flow.dot'>dot</a>
	</p>

{% endblock %}
