<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{model_name}}/ndp_graph_normal</title>
    {% include 'head.jinja2' %}

</head>
<body>
	{% include 'model_views_navigation.jinja2' %}

	 <style type='text/css'>
		 img#graph {
		 	/*width: 100%;*/
		 }
 	</style>

	<!-- <img id="graph" src='image/{{style}}.png'/> -->
	<img id="graph" src='../images/ndp_graph_normal.svg'/>

	<p>
	<a href='../images/ndp_graph_normal.png'>PNG</a>,
	<a href='../images/ndp_graph_normal.pdf'>PDF</a>,
	<a href='../images/ndp_graph_normal.svg'>SVG</a>,
	<a href='../images/ndp_graph_normal.dot'>dot</a>
	</p>

</body>
</html>
