{% extends "base_page.jinja2" %}
{% block title %}
    {{navigation.thing_name}}
{% endblock %}
{% block content %}


	{% include 'model_views_navigation.jinja2' %}
	<style type='text/css'>
	#content { font-family: monospace; }
	</style>
    {% if content is defined %}
	<pre id='content'><code>{{content}}</pre></code>
    {% endif %}
    {% if error is defined %}
	<pre id='error'><code>{{error}}</pre></code>
    {% endif %}

{% endblock %}
