<!DOCTYPE html>
<!--
	Displays a generic text content in the "content" variable.
-->
<html lang="en">
<head>
    <title>Rendering for {{navigation.thing_name}}</title>
    {% include 'head.jinja2' %}

</head>
<body>
	{% include 'model_views_navigation.jinja2' %}
	<style type='text/css'>
	#content { font-family: monospace; }
	</style>
	<pre id='content'><code>{{content}}</pre></code>
</body>
</html>
