<!DOCTYPE html>
<html lang="en">
<head>
    <title>Source for {{model_name}}</title>
    {% include 'head.jinja2' %}
</head>
<body>
	{% include 'model_views_navigation.jinja2' %}
	
	
	
	<style type='text/css'>
		a.link-to-keyword {
			color: inherit;
			text-decoration: inherit; 
		}
		a.link-to-model {
			color: inherit;
			/*text-decoration: inherit;*/ 
		}
		
		img.popup {
			// DO NOT DISPLAY
			display: none;
			/*float: right;
			height: 8em;
			clear: right;*/
		}
		
		.line-gutter { display: none; }
		
		table#main td { vertical-align: top; }
	</style>
	
	<table id='main'>
	<tr><td>
	{{highlight|safe}}
	</td><td>
	<a id='graph' href='../edit_fancy/graph.png'>
		<img style='float:right; width: 50%' src='../edit_fancy/graph.png'/>
	</a>
	<script type='text/javascript'>
  		$('#graph').imageZoom();
  	</script>

	
	</td>
	</tr>
	</table>
</body>
</html>