<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rendering for {{model_name}}</title>
    {% include 'head.jinja2' %}
    
</head>
<body>
	{% include 'model_views_navigation.jinja2' %}

	 <style type='text/css'>
		 img#graph {
		 	width: 100%;
		 } 
 	</style>
 
	<img id="graph" src='image/{{style}}.png'/>
	
	<p> 
	<a href='image/{{style}}.png'>PNG</a>,
	<a href='image/{{style}}.pdf'>PDF</a>,
	<a href='image/{{style}}.dot'>Dot</a>,
	<a href='image/{{style}}.svg'>SVG</a>
	</p>
	 
</body>
</html>