<!DOCTYPE html>
<!--
	Displays a generic text content in the "content" variable.
-->
<html lang="en">
<head>
    <title>Rendering for {{navigation.thing_name}}</title>
    {% include 'head.jinja2' %}

</head>
<body>
	{% include 'model_views_navigation.jinja2' %}
	<style type='text/css'>
	#content { font-family: monospace; }
	</style>
    {% if content is defined %}
	<pre id='content'><code>{{content}}</pre></code>
    {% endif %}
    {% if error is defined %}
	<pre id='error'><code>{{error}}</pre></code>
    {% endif %}

</body>
</html>
