<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{navigation['current_thing']}}</title>
    {% include 'head.jinja2' %}
</head>
<body>
	{% include 'model_views_navigation.jinja2' %}
	
	
	<style type='text/css'>
		a.link-to-keyword {
			color: inherit;
			text-decoration: inherit; 
		}
		a.link-to-model {
			color: inherit;
			/*text-decoration: inherit;*/ 
		}
		
		img.popup {
			// DO NOT DISPLAY
			display: none;
			/*float: right;
			height: 8em;
			clear: right;*/
		}
		
		.line-gutter { display: none; }
		
		table#main td { vertical-align: top; }
		.DPSyntaxError { color: red; font-weight: bold; font-size: smaller; }
	</style>
	
	{% if explanation1_html %}
		{{explanation1_html|safe}}
	{% endif %}
	
	<table id='main'>
	<tr><td>
	{{highlight|safe}}
	
	
	{% set url_edit = ("/libraries/" + navigation['current_library'] + 
	              "/posets/" + navigation['current_poset'] + 
	              "/views/edit_fancy/" )%}
	<a class='make_button' href="{{url_edit}}">
	 		Edit
 	</a> 
	 	
 	<script type='text/javascript'>
 	$(document).ready(function() {  		
    	$(".make_button").button();
	});
	</script>
	
	
	</td>
	<td>
		{% if error %}
		<p>(Syntax error; cannot display image.)</p>
		{% else %}
		<a id='graph' href='../edit_fancy/graph.png'>
			<img style='float:right; width: 50%' src='../edit_fancy/graph.png'/>
		</a>
		<script type='text/javascript'>
	  		$('#graph').imageZoom();
	  	</script>
	  	{% endif %}

	</td>
	</tr>
	</table>

	{% if error %}
	<pre class="DPSyntaxError">{{error}}</pre>
	{% endif %}
	
	{% if explanation2_html %}
		{{explanation2_html|safe}}
	{% endif %}

</body>
</html>