<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{navigation['current_thing']}}</title>
    {% include 'head.jinja2' %}
</head>
<body>
	{% include 'model_views_navigation.jinja2' %}

	<style type='text/css'>
    body { margin: 0}
	.DPSyntaxError {
		white-space: pre-wrap;
	    word-wrap: break-word;
	    width: 100ex;
	    font-weight: bold;
	    font-size: 70%;
	}

	div#code {
		font-size: 75%;
		min-width: 20em;
	    /*font-family: "Andale Mono", Courier, monospace;*/

        margin-left: 10px;
	    margin-top: 10px;
	    box-shadow: 1px 1px 4px lightgrey;
	    padding: 0;
	    border-radius: 5px;
	    /*background-color: #eeeeff;  */
	}

	code { font-family:  Courier, monospace; }
	div#code pre {padding: 8px;}

    div#graph {
        width: 100%;
    }
		a.link-to-keyword {
			color: inherit;
			text-decoration: inherit;
		}
		a.link-to-model {
			color: inherit;
			/*text-decoration: inherit;*/
		}

		img.popup {
			/* DO NOT DISPLAY*/
			display: none;
			/*float: right;
			height: 8em;
			clear: right;*/
		}

		.line-gutter { display: none; }

		table#main td { vertical-align: top; }
		.DPSyntaxError { color: red; font-weight: bold; font-size: smaller; }

        table#main {
            width: 100%;
            display: block;
        }
        table#main tbody {
            width: 100%;
            display: block;

        }
        table#main tbody tr {
            width: 100%;
            display: block;

        }
        td#left {
            width: 40vw;
        }
        td#right {
            width: 60vw;
            vertical-align: top;

        }
        td#right div#graph {
        vertical-align: top;
        display: inline-block;
        }
        td#right div#graph svg {
            max-width: 100%;
            display: inline;
        }
        svg text {
            font-family: "Anka/Coder Narrow";
        }

        @media only screen and (max-device-width < 80!$0px) {
            svg text { display: none;}
        }
	</style>

	{% if explanation1_html %}
		{{explanation1_html|safe}}
	{% endif %}

	<table id='main'>
	<tr><td id='left'>

	<a class='make_button' href="{{url_edit}}">
	 	<span class='unicode-icons'>✎</span>edit
 	</a>

	<div id='code'>{{highlight|safe}}</div>



 	<script type='text/javascript'>
 	$(document).ready(function() {
    	$(".make_button").button();
	});
	</script>


	</td>
	<td id='right' >
		{% if error %}
		<p>(Syntax error; cannot display image.)</p>
		{% else %}
		<!--<a id='graph' href='graph.png'>
		</a>-->
        <!--<img src='graph.svg'/>-->
        <div id='graph'>{{svg_data|safe}}</div>

		<script type='text/javascript'>
	  		$('#graph').imageZoom();
	  	</script>
	  	{% endif %}

	</td>
	</tr>
	</table>

	{% if error %}
	<pre class="DPSyntaxError">{{error}}</pre>
	{% endif %}

	{% if explanation2_html %}
		{{explanation2_html|safe}}
	{% endif %}

</body>
</html>
