<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{navigation.thing_name}}</title>
    {% include 'head.jinja2' %}

    <style type='text/css'>
        {% include 'visualization/syntax.css' %}
    </style>
    <script type='text/javascript'>
        {% include 'visualization/syntax.js' %}
    </script>

</head>

<body>
	{% include 'model_views_navigation.jinja2' %}

	{% if explanation1_html %}
		{{explanation1_html|safe}}
	{% endif %}

    <a class='make_button' href="{{url_edit}}">
	 	<span class='unicode-icons'>✎</span>edit
 	</a>
     <button class='make_button' id='hide'>hide code</button>

     {%import 'font_control.jinja2' as font_control%}
     {{font_control.font_control('div#code')}}

	<table id='main'>
	<tr><td id='left'>


	<div id='code'>{{highlight|safe}}</div>

	</td>
	<td id='right' >
		{% if error %}
		<p id='error_in_place_of_image'>
                (Syntax error; cannot display image.)</p>
		{% else %}
		<!--<a id='graph' href='graph.png'>
		</a>-->
        <!--<img src='graph.svg'/>-->
        <div id='graph'>{{svg_data|safe}}</div>

		<!-- <script type='text/javascript'>
	  		$('#graph').imageZoom();
	  	</script> -->
	  	{% endif %}

	</td>
	</tr>
	</table>

	{% if error %}
	<pre class="DPSyntaxError">{{error}}</pre>
	{% endif %}

	{% if explanation2_html %}
		{{explanation2_html|safe}}
	{% endif %}

</body>
</html>
